html, body {
    height: 100%;
    --home-opacity: 1;
    --animation-opacity: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body:has(canvas) {
    height: 100vh;
}

#___gatsby {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#___gatsby > div, .content-area {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.content-area {
    margin: 0 8px;
}

.content-area .main-content {
    flex: 1 1 auto;
}

.content-area .content-footer {
    border-top: 1px solid black;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 18px;
    flex: 0 0 auto;
    opacity: var(--home-opacity);
}

.content-area .content-footer > * {
    margin-right: 8px;
}

@media(max-width: 400px) {
    .content-area {
        margin: 0;
    }
}

.page-header {
    background-color: #2f3131;
    color: #00a14b;
    top: 0;
    position: sticky;
    opacity: var(--home-opacity);
}

.animation-button {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.animation-button button {
    background-color: #2f3131;
    color: #00a14b;
    padding: 16px;
    border: none;
    font-size: 16px;
    margin-top: 96px;
    min-width: 125px;
    font-weight: bold;
}

.animation-button button:hover {
    color: #B23A3A;
}

.animation-button button:hover::before,
.animation-button button:hover::after {
    --animation-top: 0;        
    --animation-left: 0;
    --v-height: 30%;
        
    --n-tenth: calc(1.5 * var(--animation-top));
    --top-cut: calc(var(--n-tenth) / 15 * 100%);
    --bottom-cut: calc(var(--top-cut) + var(--v-height));
        
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
        
    transform: translateX(calc(var(--animation-left) * 100%));
        
    filter: drop-shadow(0 0 transparent); 
        
    text-shadow: calc(var(--animation-left) * -2em) 0 .02em #00b3b3, 
                 calc(var(--animation-left) * -4em) 0 .02em #c7a500;
        
    background-color: var(--bg);
    clip-path: polygon(0% var(--top-cut), 100% var(--top-cut), 100% var(--bottom-cut), 0% var(--bottom-cut));
}

.animation-button button:hover::before {
    animation: cut-before 1.7s infinite alternate-reverse;
}
.animation-button button:hover::after {
    animation: cut-after 3.1s infinite alternate;
}

@keyframes cut-after {
  10%,30%,50%,70%,90% {
    --animation-top: 0;
    --animation-left: 0;
  }
  0% {
   --v-height: 15%; 
  }
  20% {
    --animation-left: .005;
  }
  40% {
    --animation-left: .01;
    --v-height: 20%;
    --animation-top: 3;
  }
  60% {
    --animation-left: .02;
    --v-height: 25%;
    --animation-top: 5;
  }
  80% {
    --animation-left: .03;
    --v-height: 5%;
    --animation-top: 12;
  }
  100% {
    --animation-left: .05;
    --v-height: 30%;
    --animation-top: 1;
  }
}

@keyframes cut-before {
    10%,30%,50%,70%,90% {
    --animation-top: 0;
    --animation-left: 0;
  }
  0% {
   --v-height: 15%; 
   --animation-top: 10;
  }
  20% {
    --animation-left: -.005;
  }
  40% {
    --animation-left: -.01;
    --v-height: 17%;
    --animation-top: 3;
  }
  60% {
    --animation-left: -.02;
    --v-height: 35%;
    --animation-top: 6;
  }
  80% {
    --animation-left: -.03;
    --v-height: 5%;
    --animation-top: 12;
  }
  100% {
    --animation-left: -.05;
    --v-height: 30%;
    --animation-top: 1;
  }
}

canvas {
    background-color: #2f3131;
    color: #00a14b;
    position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    opacity: var(--animation-opacity);
}

.page-header a {
    color: #00a14b;
    position: relative;
    text-decoration: none;
}

.page-header a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #00a14b;
    visibility: hidden;
    transform: translateY(4px);
    transition: all 0.3s ease-in-out 0s;
}

.page-header a:hover:before, .page-header a:focus:before {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.page-header h1 {
    margin: 0;
    padding: 16px 4px;
}

.header-link {
    margin-right: 16px;
}

@media(max-width: 400px) {
    .page-header h1 {
        padding: 8px 2px;
        font-size: 16px;
    }

    .page-header a:before {
        height: 2px;
    }
}

@media(min-width: 401px) and (max-width: 649px) {
    .page-header h1 {
        padding: 8px 2px;
        font-size: 24px;
    }

    .page-header a:before {
        height: 2px;
    }

    .header-link {
        margin-right: 10px;
    }
}

.project {
    display: flex;
}

.project-title {
    text-align: center;
}

.project-title button {
    margin-right: 8px;
    vertical-align: middle;
    border: none;
    background-color: initial;
    font-size: 18px;
}

@media(min-width: 801px) {
    .project-title button {
        visibility: hidden;
        margin-right: 0;
    }
}

.project .project-sidebar {
    flex: 0 1 auto;
    margin-right: 32px;
}

.project .project-sidebar ul li {
    list-style: none;
}

.project .project-sidebar ul {
    padding: 4px;
}

.project .project-sidebar .nested {
    padding: 4px 8px;
}

.project .project-content {
    flex: 1 1 auto;
}

.popup-projects {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 40%;
    margin: 0;
    background-color: #2d2d2d;
    color: #007938;
}

.popup-projects h1 {
    background-color: black;
    margin: 0;
    text-align: end;
}

.popup-projects h1 button {
    background-color: initial;
    color: #007938;
    font-size: 24px;
    font-weight: bold;
    border: none;
    vertical-align: middle;
}

.popup-projects ul {
    list-style: none;
}
.popup-projects a {
    color: #00a14b;
}

@media(max-width: 800px) {
    .project {
        flex-direction: column;
    }

    .project .project-sidebar {
        margin-right: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

.project-list {
    padding: 0;
}

.project-list li {
    list-style: none;
    padding: 8px;
    border: 1px solid black;
    margin-bottom: 8px;
    border-radius: 6px;
    background-color: #2d2d2d;
    color: #ccc;
    box-shadow: 1px 4px #ccc;
}

.project-list li a {
    color: #7ec699;
    font-size: 18px;
    font-weight: bold;
}

.project-list li a:visited {
    color: #007938;
}

.project-list li .description {
    margin-top: 8px;
}

.project-content-page img {
    display: block;
    max-width: 100vw;
}

.blog-post {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
}

.blog-post img {
    max-width: 100vw;
}

.blog-post .blog-content {
    flex: 1 1 auto;
}

.blog-post .blog-selector {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 4px;
    background-color: #2f3131;
    font-weight: bold;
}

.blog-post .blog-selector a {
    color: #00a14b;
}

.blog-post .blog-selector a:visited {
    color: #007938;
}

.blog-post table {
    border: 1px solid black;
    border-collapse: collapse;
}

.blog-post table td,
.blog-post table th {
    border: 1px solid black;
    padding: 4px;
}

.blog-post table thead {
    background-color: lightgray;
}

.error {
    color: red;
}
