name: BuildSite
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Install node
      uses: actions/setup-node@v1
      with:
          node-version: '14.x'

    - name: Check out code
      uses: actions/checkout@v1
    
    - name: Install
      run: npm ci

    - name: Setup
      env:
        TOKEN: ${{ secrets.BUILDAUTH }}
      run: |
        printf $TOKEN > token

    - name: Build
      run: npm run build

    - name: Test
      run: npm run test